.main{
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 8%;
    margin-left: 40.5%;
    height: 92;
    width:272;
}
/* .main:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
} */




.search-content{
    height: 37;
    width: 565;
    border: 0.5px solid rgb(226, 224, 224);
    margin-top: 2%;
    margin-left: 30%;
    border-radius: 20px;
    display: flex;
}

.search-content:hover{
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
        box-shadow: inset;
}
.icon{
    margin-top: 1%;
    margin-left: 2%;
    height: 28px;
    width: 28px;
}

.search{
    height: 37;
    width: 487;
    /* margin-top: -5%; */
    border: white;
}
.mic{
    margin-top: 1%;
    height: 25px;
    width: 30px;
}
nav{
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-evenly; */

}

.dots{
    height: 20px;
    width: 20px;
    margin-top: 1%;
    margin-right: 1%;
}

.userimg{
    height: 35px;
    width: 35px;
    border-radius: 20px;  
    margin-top: 0.5%;
    margin-right: 1%;
}

.gmail{
    margin-right: 1%;
}
.image{
    margin-right: 1%;
}
.india{
    margin-top: 17%;
    background: rgb(236, 235, 235);
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    /* margin-left: ; */
    border-bottom: 1px solid rgb(36, 35, 35);
}
.indiatext{
    margin-left: 2%;
    font-size: 20px;
}

footer {
    background: rgb(236, 235, 235);
    display: flex;
    font-size: 20px;
    height: 7%;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    
}
footer p{
    margin-left: 2%;
}
.buttons{
    margin-left: 40%;
    margin-top: 2%;

}
.one{
    height: 37px;
    width: 127.4;
    /* justify-content: space-evenly; */
    background: rgb(227, 237, 241);
    border: white;
    border-radius: 5px;
   
}
.one:hover{
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}

.first {
    margin-right: 2%;
}

